{% extends "accum_articles\base.html" %}

{% block content %}

	<div class="container">
		
		{% if line_count %}

			{% if error_message %}
				<div class="alert alert-warning" role="alert">
				<div class="progress">
					<div class="progress-bar w-25" role="progressbar">{{ line_count }} / {{csv_len}}</div>
				</div>
					{{ error_message }} 
				</div>
			{% else %}
				<p> Processing <b>{{ line_count }}</b> lines</p>
				<div class="progress">
					<div class="progress-bar w-100" role="progressbar" >{{ line_count }} / {{csv_len}}</div>
				</div>
				
				<div class="alert alert-success" role="alert"align="center">
					Done!
				</div>
			
			{% endif %}
			
			<br>
			<li><a href="{% url 'accum_articles:csv_add' %}"> back </a></li>
			
		{% else %}
		
		<h2>CSV File Upload</h2>
		
		<table border="2px">
			<i>Sample format for a csv file</i>
			<th>ID</th>
			<th>Article</th>
			<th>Manufacturer</th>
			<tr>
				<td>001</td>
				<td>AC14B18K</td>
				<td>ACER</td>
			</tr>
			</table>
			<br>
		
		<form method="POST" enctype="multipart/form-data" action= {% url 'accum_articles:csv_add' %} > {% csrf_token %}
			<!-- passes only file name  -->
			<p><input class="btn btn-info" type="file" name="file" accept=".csv"/ ></p>
			<br> 
			
			<p><input class="btn btn-primary" type="submit" value="add"  /></p>
			
		</form>
		
		{% endif %}
		
		<br><hr>
		<a href="{% url 'accum_articles:simple_admin' %}"> back to admin</a>
	
	</div>

{% endblock %}
