{% extends "accum_articles\base.html" %}

{% block search_laptop %}

	<p>
	  <form method="POST" action="{% url 'accum_articles:search_laptop' %}">
		{% csrf_token %}
		<input type="text" name="laptop" required maxlength="24" />
		<input type="submit" value="search laptop"/>
	  </form>
	</p>

{% endblock %}


{% block laptop_search_result %}

	{% if laptop_search_result %}
		<p>Suggested laptop models for <i> {{ laptop_search }}</i> are: </p>
		{% for description in laptop_search_result %}
			<p> <b> - {{description }}</b> / battery article is - {{ description.battery }} </p>
		{% endfor %}
		
	{% elif laptop_search_result == None %}	
		<p>  </p>
		
	{% else %}
		<p>Sorry, nothing here</p>
		
	{% endif %}

{% endblock %}
