{% extends "accum_articles\base.html" %}

{% block content %}

	<div class="container">
		<h2>Add description</h2>

		{% if batteries_list %} 		
				<form method="POST" action= {% url 'accum_articles:simple_add_desc'  %} > {% csrf_token %}
					Choose battery:
					<select id="battery" name="battery_id">
						{% for battery in batteries_list %}}
							{% if not battery.batterydescription %}
								<option value="{{ battery.id }}">{{ battery }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<p>Compatible mobels: <input type="text" name="compatible_models" required maxlength="24" /></p>			
					<p>Compatible articles: <input type="text" name="compatible_articles" required maxlength="24" /></p>	
				
					<p><input type="submit" value="add description" /></p>
				</form>		

		{% else %}
			no batteries without a description, try to 
			<a href="{% url 'accum_articles:simple_add' %}">add</a>
			some
			
		{% endif %}
				
		{% if created == True %}
			<p>Description <b> {{ description }} </b> has been successfully added!</p>
		{% endif %}
	
		<br><hr>
		<p><a href="{% url 'accum_articles:simple_admin' %}">back to admin</a></p>
	
	</div>	
{% endblock %}
